*,
*:after,
*:before {
  font-family: 'Grandstander', cursive;
  font-size: 1em;
  text-align: center;
  cursor: default;
}

html {
  height: 100vh;
  background-image: url('./assets/background-palm-trees.jpg');
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar1 gamebox sidebar2"
}

/*~~~~~~Player Sidebars~~~~~~*/
.player-one {
  grid-area: sidebar1;
}

.player-two {
  grid-area: sidebar2;
}

.game-piece {
  font-size: 6.5em;
}

.win-display {
  font-size: 5em;
  margin-bottom: 20px;
}

.reset-wins {
  border-radius: .5em;
  height: 3em;
  width: 10em;
  background: linear-gradient(#e8d3a3, #ffa633);
  opacity: .9;
  font-size: 1em;
  cursor: pointer;
}

.reset-wins:disabled {
  background: linear-gradient(#4fb2aa, #e8d3a3);
  opacity: .45;
  cursor: not-allowed;
}

/*~~~~~~Game Area~~~~~~*/

.game-area {
  background-color: white;
  grid-area: gamebox;
}

.game-board {
  height: 5.25em;
  width: 5.25em;
  margin: auto;
  font-size: 6em;
  background: linear-gradient(#4fb2aa, #e8d3a3, #ffa633);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .1em;
}

.game-grid {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: .1em;
  cursor: pointer;
}

.main-message {
  font-size: 3.5em;
  margin: 1.25em;
}
