html {
  height: 100%;
  font-family: 'Grandstander', cursive;
  font-size: 20px;
  text-align: center;
  background-image: url('./assets/background-palm-trees.jpg');
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar1 gamebox sidebar2"
}

.player-one {
  grid-area: sidebar1;
}

.game-area {
  background-color: white;
  grid-area: gamebox;
}

.player-two {
  grid-area: sidebar2;
}

.game-board {
  height: 400px;
  width: 420px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 80px;
  background: linear-gradient(#4fb2aa, #e8d3a3, #ffa633);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.game-grid {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 11px;
}

h1 {
  font-size: 75px;
  margin-top: 70px;
  margin-bottom: 70px;
}

h2 {
  font-size: 90px;
}

h3 {
  font-size: 60px;
}
